snippet dti
`!v strftime("%Y-%m-%d")`
===

## DONE

## 待确认

## TODO

${1}
endsnippet

snippet test

Ok, You Got it

endsnippet


snippet daew
2021年04月第一周周报
===

${1} 到 ${2}

## 上周工作

## 本周工作

endsnippet

